REACT_APP_SUPABASE_URL=https://vzpyfesynzffxermmmxu.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ6cHlmZXN5bnpmZnhlcm1tbXh1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxOTUwMzQsImV4cCI6MjEwMzc3MTAzNH0.ts9X1BtOAiS85O66YaWk7MkWfuCwNeyctcDuaShqiGo
REACT_APP_SITE_NAME=Brian ❤️ Jasmine
REACT_APP_VERSION=1.0.0